
.AddNewVacation {
    width: 60%;
    margin-bottom: 10%;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
.AddNewVacation .errs{
  font-size: small;
  color: red;
}

.AddNewVacation h2{
    text-align: center;
    margin-bottom: 20px;
}


.AddNewVacation input[type="text"],
.AddNewVacation input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.AddNewVacation button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AddNewVacation button[type="submit"]:hover {
  background-color: #45a049;
}