.Layout {
    display: grid;
    grid-template-areas:
    "header"
      "nav"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    background-color:rgba(113, 144, 201, 0.247);
  }
  
  .Layout nav {
    grid-area: nav;
    box-shadow: 7px 5px 8px rgb(60, 87, 94);
    color: black;
    position: sticky;
    top: 15px;
    z-index: 99;
    opacity: 1;
    background-color: white;
  }

  
  .Layout nav a {
  text-decoration: none;
  
  }

  
  
  .Layout header {
    grid-area: header;
    justify-content: center;
    text-align: center;
  }
  
  
  

 .Layout main {
    grid-area: main;
  }
  
 .Layout footer {
    grid-area: footer;
  }

  