.VacationCard {
    width: 460px;
    height: 550px;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    margin: 14px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    animation-duration: 0.5s;
}

.VacationCard:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.0);
}


.VacationCard button {
        
        color: #3399FF;
        font-family: "Helvetica";
        background-color: #ffffff;
        border: 1px solid;
        border-color: #3399FF;
        border-radius: 3px;
        cursor: hand;		    
}

.VacationCard button:hover{
    color: #ffffff;
    background-color: #3399FF;
    border-color: #ffffff;
    
}

