.UpdateVacation {
    width: 60%;
    margin-bottom: 10%;
    margin-top: 20%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.UpdateVacation .dateTime{
  margin: 10px 5px;
}

.UpdateVacation .price{
  margin: 10px 5px;
}

.UpdateVacation .imageField{
  margin: 10px 5px;
}

.UpdateVacation h2{
    text-align: center;
    margin-bottom: 20px;
}


.UpdateVacation input[type="text"],
.UpdateVacation input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.UpdateVacation button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.UpdateVacation button[type="submit"]:hover {
  background-color: #45a049;
}